 /*https://dev.to/phuocng/display-the-line-numbers-in-a-text-area-46mk for the line numbers for the text area*/
 .container {
    display: flex;
    border: 1px solid rgb(203 213 225);
    border-radius: 0.5rem;
}
.container__textarea {
    border: none;
    outline: none;
    width: 100%;
}
.container__lines {
    border-right: 1px solid rgb(203 213 225);
    color: rgb(7, 0, 144);
    padding: 0.5rem;
    text-align: right;
    overflow: hidden;
}

button {
     padding-top: 0.125rem; 
    padding-bottom: 0.125rem;
    padding-left: 0.5rem;   
    padding-right: 0.5rem;   
}

@media (min-width: 768px) {
    button {
        padding-top: 0.25rem;    
        padding-bottom: 0.25rem; 
        padding-left: 1rem;      
        padding-right: 1rem;    
    }
}
