<div class="h-full md:m-4 md:p-4 overflow-auto" #editorContainer>
  <div class="flex flex-row flex-wrap md:flex-nowrap justify-center md:justify-between pb-1">
    <div class="m-2">
        <app-user-form #userForm *ngIf="customFormSchema?.fields" [data]="customFormData" [schema]="customFormSchema"></app-user-form>
    </div>
    <div class="flex justify-evenly space-x-2">
      <button
        (click)="onOptionClick()"
        class="bg-blue-500"
      >
        {{ option }}
      </button>
      <button
        (click)="onAddClick()"
        title="Save the note"
        class="bg-[#70e000]"
      >
        <mat-icon>save</mat-icon>
      </button> 
      <button
        (click)="onReminderClick()"
        [title]="!todoItem.setForReminder ? 'Set reminder' : 'Clear reminder'"
        class="bg-yellow-500 "
      >
        <mat-icon>{{
          !todoItem.setForReminder ? "alarm_add" : "alarm_off"
        }}</mat-icon>
      </button>
      <button
        (click)="onCompletionClick()"
        [title]="
          !todoItem.completionStatus ? 'set status: Done' : 'set status: Pending'
        "
        class="bg-purple-500 "
      >
        <mat-icon>{{
          !todoItem.completionStatus ? "timelapse" : "done_all"
        }}</mat-icon>
      </button>
      <div class="flex justify-center content-center">
        <button
          (click)="showTags = !showTags"
          title="Tags"
          style="background-color: #f72585;"
        >
          <mat-icon>local_offer</mat-icon>
        </button>
        <app-tag-list *ngIf="showTags" [editable]="true" [tags]="todoItem.tags" (onChange)="onUpdateTags($event)"></app-tag-list>
      </div>
      <button
          (click)="navigateToParent()"
          title="go to parent"
          style="background-color: #38a3a5"
        >
          <mat-icon>subdirectory_arrow_left</mat-icon>
      </button>
      <button
          (click)="addChildItem()"
          title="add child item"
          style="background-color: #57cc99;"
        >
          <mat-icon>subdirectory_arrow_right</mat-icon>
      </button>
      <button
          (click)="onClickUserFormAdd($event)"
          title="add custom form widget"
          style="background-color: #d74c11;"
        >
          <mat-icon>widgets</mat-icon>
      </button>
      </div>
  </div>
  <div class="bg-[#0b0025] rounded-lg shadow-md p-4" (focusout)="onOptionClickOnDelay($event)" (focusin)="onOptionClickOnDelayClearTimeout()">
    <input
    type="text"
    #subjectTxt
    class="w-full bg-white p-3 rounded-lg text-lg outline-0 ring-2 ring-inset focus:ring-blue-600"
    id="editor-subject-input"
    [(ngModel)]="todoItem.subject"
    placeholder="Enter a title for your note (must be unique)"
    (keydown)="handleKeydownForSubject($event)"
    />
    <div *ngIf="option !== 'Editor'">
      <div  id="container" class="input-area-container w-full">
      <div id="line-numbers" (click)="onOptionClickOnDelay($event)" #lineNumbers class="container__lines mt-2"></div>
      <textarea
        id="editor-description-input"
        [(ngModel)]="todoItem.description"
        placeholder="Enter your note here (supports markdown)"
        (keydown)="handleKeydownForDescription($event)"
        class="w-full rounded-lg p-3 m-2 input-textarea resize-vertical overflow-hidden ring-2 ring-inset focus:ring-blue-600"
        #descriptionArea
      ></textarea>
      </div>
    </div>
    <div *ngIf="option !== 'Preview'" id='editor-markdown-div' (click)="onOptionClickOnDelay($event)" [innerHTML]="convertedMarkdown" 
      class="match-braces rainbow-braces m-2 p-3 rounded-lg ring-2 ring-inset bg-white ring-[#8900ff]">
    </div>
  </div>
  <footer class="w-full h-20"></footer>
</div>
