<div class="h-full m-4 p-4 overflow-auto">
  <div class="flex flex-row flex-wrap md:flex-nowrap justify-center md:justify-between p-4">
    <div class="m-2">
        <app-user-form #userForm [data]="customFormData" [schema]="customFormSchema"></app-user-form>
    </div>
    <div class="flex justify-evenly space-x-2">
      <button
        (click)="onOptionClick()"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        {{ option }}
      </button>
      <button
        (click)="onAddClick()"
        title="Save the note"
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
      >
        <mat-icon>save</mat-icon>
      </button> 
      <button
        (click)="onReminderClick()"
        [title]="!todoItem.setForReminder ? 'Set reminder' : 'Clear reminder'"
        class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded"
      >
        <mat-icon>{{
          !todoItem.setForReminder ? "alarm_add" : "alarm_off"
        }}</mat-icon>
      </button>
      <button
        (click)="onCompletionClick()"
        [title]="
          !todoItem.completionStatus ? 'Status: Pending' : 'Status: Done'
        "
        class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded"
      >
        <mat-icon>{{
          !todoItem.completionStatus ? "timelapse" : "done_all"
        }}</mat-icon>
      </button>
      <div class="flex justify-center content-center">
        <button
          (click)="onClickTags()"
          title="Tags"
          class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 w-full h-full rounded"
        >
          <mat-icon>label</mat-icon>
        </button>
        <textarea
          [ngClass]="showTags?'':'hidden'"
          placeholder="Add tags here like t1 , t2"
          class="bg-white border rounded p-2 shadow-md focus:outline-none"
          [(ngModel)]="tagNameList"
          (input)="onUpdateTags($event)"
          rows="1"
          height="auto"
        ></textarea>
      </div>
      <button
          (click)="onClickUserFormAdd($event)"
          title="add custom form"
          class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 w-full h-full rounded"
        >
          <mat-icon>queue-add</mat-icon>
      </button>
      </div>
  </div>
  <div class="bg-white rounded-lg shadow-md p-4">
    <div *ngIf="option !== 'Editor'">
      <input
        type="text"
        #subjectTxt
        class="w-full p-3 border rounded-lg text-lg focus:outline-none focus:ring focus:border-blue-300"
        id="editor-subject-input"
        [(ngModel)]="todoItem.subject"
        placeholder="Enter a title for your note (must be unique)"
      />
      <div  id="container" class="container">
      <div id="line-numbers" #lineNumbers class="container__lines mt-2"></div>
      <textarea
        id="editor-description-input"
        [(ngModel)]="todoItem.description"
        placeholder="Enter your note here (supports markdown)"
        class="w-full border rounded-lg p-3 m-2 container__textarea resize-vertical focus:outline-none focus:ring focus:border-blue-300 overflow-hidden"
        #descriptionArea
      ></textarea>
      <div id="div-for-scrolling"></div>
      </div>
    </div>
    <div *ngIf="option !== 'MD Preview'" [innerHTML]="convertedMarkdown"></div>
  </div>
</div>
