
<div class='w-full flex flex-col-reverse md:flex-row h-full side-pannel'>
  <div class='rotate-180 flex-4/12 resize overflow-auto border-e-2 border-s-1'>
    <div class="rotate-180">
      <div class='p-5 overflow-auto'>
        <ul>
          <li *ngFor='let event of currentEvents()' style="background: var(--todo-item-body-color); color: var(--todo-item-text-color)" class="m-1">
            <b class="block">{{event.startStr.split('.')[0]}}</b>
            <i>{{event.title}}</i>
          </li>
        </ul>
        <h2>All Events ({{currentEvents().length}})</h2>
      </div>
      <div class='px-5 pt-1'>
        <h2>Instructions</h2>
        <ul>
          <li>Select dates and you will be prompted to create a new event</li>
          <li>Drag, drop, and resize events</li>
          <li>Click an event to delete it</li>
        </ul>
      </div>
      <div class='px-5 pt-1'>
        <label>
          <input
            type='checkbox'
            [checked]='calendarVisible()'
            (change)='handleCalendarToggle()'
          />
          toggle whole calendar
        </label>
      </div>
      <div class='px-5 pt-1'>
        <label>
          <input
            type='checkbox'
            [checked]='calendarOptions().weekends'
            (change)='handleWeekendsToggle()'
          />
          toggle weekends
        </label>
      </div>
      <div class='px-5 pt-1'>
        <label>
          <input
            type='checkbox'
            [checked]='viewByUpdationTimestamp()'
            (change)='handleViewByUpdationTimestampToggle()'
          />
          show based on event updation
        </label>
      </div>
      <footer class="w-full h-10" ></footer>
    </div>
  </div>
  <div class='w-full rotate-180 flex-auto resize overflow-auto'> 
    <full-calendar *ngIf='calendarVisible()' [options]='calendarOptions()' class="h-screen md:h-full p-2 md:p-7 rotate-180">
      <ng-template #eventContent let-arg>
        <div class="text-center">
          <b>{{ arg.timeText }}&nbsp;</b>
          <i>{{ arg.event.title }}</i>
        </div>
      </ng-template>
    </full-calendar>
  </div>
</div>
<footer class="w-full h-10" ></footer>