.side-pannel{
  color: var(--todo-item-text-color);
}
.resizebar{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-radius: 20px;
  padding: 0.5rem;
  font-size: xx-large;
}

.resizebar::before{
  content: '+'
}
