<div class="h-full scroll-auto overflow-scroll justify-center">
    <div class="w-full flex flex-col justify-center">
        <div class="mb-8">
            <span class="block text-center text-4xl font-semibold text-emerald-600">
                <ul class="text-lg text-left mt-6 p-6 rounded-4xl shadow-md w-fit mx-auto">
                    <div class="text-center text-xl font-semibold mb-4">Features of this app V0.09 <a routerLink="/demo" routerLinkActive="active" ariaCurrentWhenActive="page" title="demo">download demo todo items to play arround</a></div>
                    <li><h3 class="inline">A Fully Offline Progressive Web App</h3></li>
                    <li><span>Frontend:</span> Angular</li>
                    <li><span>Database:</span> Uses IndexedDB API for all storage needs. Fast in browser persistant db suported by all major browsers</li>
                    <li><span>Perk:</span> Item description supports full Markdown and code formatting, you can paste images and files from clipboard too.</li>
                    <li><span>Search:</span> Prefix matching normally or full text with !F:, Cumulative with !ALL: or exact match otherwise</li>
                    <li><span>Sorting:</span> Sort search by creationTimestamp with !OLD: or updationTimestamp with !LAT:</li>
                    <li><span>Filtering:</span>Advanced Grouping with tags<br> !T: with prefix '+':include, '-':exclude</li>
                    <ul class="rounded-1xl shadow-md">
                            <li>!ALL: any that match (default - that matches all)</li>
                            <li>!F: full text search (default - subject prefix)</li>
                            <li>!T: tag based search with +,- modifier prefix</li>
                    </ul>
                    <li><span>Keyboard shortcuts</span> - " Ctrl + [ " -> home and " Ctrl + ] "  -> editor</li>
                    <li><span>Filtering:</span> Advanced Grouping with tags<br> (eg - "searchQuery !T: +tag1, -tag2") '+':include, '-':exclude</li>
					<li><span>Backup:</span> Download your notes as a json file and load notes from it as backup</li>
                </ul>
            </span>
        </div>
    </div>
</div>    