<div class="h-full scroll-auto overflow-scroll justify-center">
    <div class="w-full flex flex-col justify-center">
        <div class="mb-8">
            <span class="block text-center text-4xl font-semibold text-emerald-600">
                <ul class="text-lg text-left mt-6 p-6 bg-white rounded-4xl shadow-md w-fit mx-auto">
                    <div class="text-center text-xl font-semibold mb-4">Features of this app</div>
                    <li class="mb-2"><span class="font-medium">Frontend:</span> Angular</li>
                    <li class="mb-2"><span class="font-medium">Backend:</span> Spring Boot</li>
                    <li class="mb-2"><span class="font-medium">Database:</span> Uses IndexedDB API when offline,<br>MySql when connected with backend</li>
                    <li class="mb-2"><span class="font-medium">Perk:</span> Item description supports Markdown formatting</li>
                    <li class="mb-2"><span class="font-medium">Search:</span> Prefix matching when offline,<br>Fast MySQL Fulltext</li>
                    <li><span class="font-medium">Filtering:</span> Advanced Grouping with tags<br> (eg - "searchQuery !T: +tag1, -tag2") '+':include, '-':exclude</li>
					<li><span class="font-medium">Backup:</span> Download your notes as a json file and load notes from it as backup</li>
                </ul>
            </span>
        </div>
    </div>
</div>    
