<form [formGroup]="dynamicForm" autocomplete="on">
  <div class="border-1" [ngClass]="schema?.fields!.length>5? `h-100 overflow-auto resize`:``">
  <table class="h-full w-full transition-all overflow-hidden" >
    <tr
      *ngFor="let field of schema?.fields"
      class="flex flex-row justify-between rounded"
      [title]="field.name"
      >
      <td class="max-w-1/3 m-2">
        <label [for]="field.name" class="break-all">{{ field.label }}</label>
      </td>
      <td class="flex min-w-2/3 content-center justify-center">
        <input
          *ngIf="inputTagTypes.includes(field.type)"
          [type]="field.type"
          [id]="field.name"
          [formControlName]="field.name"
          [placeholder]="field.placeholder || ''"
          [min]="field.validation?.min"
          [max]="field.validation?.max"
          [step]="field.validation?.step"
          [readonly]="field.validation?.readonly"
          class="w-full outline-1 p-2 m-1"
        />
        <a *ngIf="field.type === 'url'"
          [href]="field.validation?.pattern?
          field.validation?.pattern?.replace('{key}',dynamicForm.get(field.name)?.value?.trim())
          :dynamicForm.get(field.name)?.value"
          [id]="field.name+'_URL'"
          [formControlName]="field.name" 
          [title]="field.name">
          {{field.label}}
        </a>
        <textarea
          *ngIf="field.type === 'textarea' || field.type === 'timestamp' "
          [id]="field.name"
          [formControlName]="field.name"
          [placeholder]="field.placeholder || ''"
          [readonly]="field.validation?.readonly"
          class="w-full outline-1 p-1"
        ></textarea>
        <select
          *ngIf="field.type === 'select'"
          class="w-full"
          [id]="field.name"
          [formControlName]="field.name"
        >
          <option *ngFor="let option of field.options?.split(',')" [value]="option">{{ option }}</option>
        </select>
        <div *ngIf="field.type === 'radio'" class="flex flex-wrap" [id]="field.name">
          <div *ngFor="let option of field.options?.split(',');" class="flex-shrink-0 m-1" [title]="field.name+'-'+option">
            <label [for]="field.name+'-'+option">{{option}}:</label>
            <input type="radio" [id]="field.name+'-'+option" [value]="option" [name]="field.name" [formControlName]="field.name">
          </div>
        </div>
        <div *ngIf="field.type === 'checkbox'" class="flex flex-wrap" [id]="field.name">
          <div *ngFor="let option of field.options?.split(','); let i = index" class="flex-shrink-0 m-1" [title]="field.name+'-'+option" [formArrayName]="field.name">
            <label [for]="field.name+'-'+option">{{option}}:</label>
            <input type="checkbox" [id]="field.name+'-'+option" [value]="option" [name]="field.name" [formControlName]="i">
          </div>
        </div>
        <div *ngIf="field.type === 'boolean'" [id]="field.name">
          YES:<input
            [formControlName]="field.name"
            type="radio"
            [name]="field.name"
            value="true"
            [id]="field.name+'_Y'"
          />
          &nbsp;
          NO:<input
            [formControlName]="field.name"
            type="radio"
            [name]="field.name"
            value="false"
            [id]="field.name+'_N'"
          />
        </div>
        <div
          *ngIf="field.type === 'image'"
          [title]="field.label"
          class="w-2/3"
        >
          <details>
            <summary>
              <div class="flex flex-row">
                <input
                  class="w-full outline-1 overflow-auto"
                  style="mix-blend-mode: difference"
                  [value]="dynamicForm.get(field.name)?.value"
                  type="text"
                  [formControlName]="field.name"
                  [placeholder]="field.placeholder"
                  [readonly]="field.validation?.readonly"
                  [id]="field.name+'_IMG_URL_TXT'"
                />
                <a [href]="dynamicForm.get(field.name)?.value" [id]="field.name+'_IMG_URL_LINK'" target="_blank" class="outline-1">↗️</a>
              </div>
            </summary>
            <img
              [src]="dynamicForm.get(field.name)?.value"
              [id]="field.name+'_IMG'"
              class="border border-1 w-full"
            />
          </details>
        </div>
        <div
          *ngIf="field.type === 'file'"
          [title]="field.label"
          class="w-2/3 flex flex-row items-center"
        >
        <input type="file" [id]="field.name" [id]="field.name+'_FILE_INP'" class="user-form-file-control hidden">
        <a href="" [download]="field.name"
          [href]="dynamicForm.get(field.name)?.value"
          [download]="field.name" 
          [id]="field.name+'_FILE_URL_LINK'"
        >{{field.name}}</a>&nbsp;&nbsp;
        <button (click)="openFileBrowserFor(field.name)">📁</button>
        </div>
        <div *ngIf="field.type === 'canvas'" >
          <details>
            <summary>{{field.label}}</summary>
            <app-canvas [id]="field.name+'_CANVAS_CONTAINER'"  [id]="field.name" [data]="data?data[field.name]:null"/>  
          </details>
        </div>
        <div *ngIf="field.type === 'iframe'" class="w-full h-full">
          <details>
            <summary>
              <div class="flex flex-row">
                <input
                  class="outline-1 overflow-auto w-full"
                  style="mix-blend-mode: difference"
                  [value]="dynamicForm.get(field.name)?.value"
                  type="text"
                  [formControlName]="field.name"
                  [placeholder]="field.placeholder"
                  [readonly]="field.validation?.readonly"
                  [id]="field.name+'_IFRAME_URL_INP'"
                />
                <a [href]="dynamicForm.get(field.name)?.value" [id]="field.name+'_IMG_URL_LINK'" target="_blank" class="outline-1">↗️</a>
              </div>
            </summary>
            <iframe
              [src]="dynamicForm.get(field.name)?.value"
              [id]="field.name+'_IFRAME'"
              sandbox="allow-scripts allow-popups allow-modals" class="outline-1 w-full h-full bg-white">
            </iframe>
          </details>
        </div>

       </td>
    </tr>
  </table>
  </div>
</form>
