<div class="w-full h-full p-3 overflow-auto">
  <div class="w-full flex md:justify-end sm:justify-evenly my-2">
    <div (click)="showFunctions = true"  class="relative bg-gray-900 text-white p-3 mx-3 rounded-2xl hover:scale-110 hover:text-blue-300 cursor-pointer transition-all flex justify-center content-center">
      <mat-icon>functions</mat-icon>
      <select *ngIf="showFunctions" style="background-color:#15162c;">
        <option *ngFor="let op of dataOperations" (click)="selectedDataOperation$.next(op)">{{op}}</option>
      </select>
    </div>
    <div
      *ngFor="let chart of chartTypes"
      [title]="chart"
      class="bg-gray-900 text-white p-3 mx-3 rounded-2xl hover:scale-110 hover:text-blue-300 cursor-pointer transition-all flex justify-center content-center"
      (click)="selectedChart$.next(chart)"
      >
      <mat-icon>{{ chart }}</mat-icon>
    </div>
  </div>

  <table class="mb-3" *ngIf="selectedChart$.value === 'table_chart'">
    <thead>
      <th class="border-none"></th>
      <th
        *ngFor="let header of fields"
        class="text-blue-500 bg-gray-900 hover:text-white"
      >
        <button
          (click)="toggleSortIndividual($event, header)"
          class="cursor-pointer hover:text-white"
          title="click to sort"
        >
          {{ header }}
        </button>
      </th>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of reducedItemsFlat; let i = index"
        class="text-white hover:text-lime-300"
      >
        <td
          class="w-4 cursor-pointer hover:text-green-500 hover:bg-gray-600 transition-all"
          (click)="onItemGoToClicked($event, i)"
          title="go to"
        >
          <mat-icon>navigate_next</mat-icon>
        </td>
        <td *ngFor="let val of item[1]">
          {{ val }}
        </td>
      </tr>
    </tbody>
  </table>
  <div id="chartContainer" class="w-full h-10/12" *ngIf="selectedChart$.value !== 'table_chart'"></div>
</div>
