<div class="w-full h-full p-3 overflow-auto">
  <div class="w-full flex md:justify-end sm:justify-evenly my-2">
    <div (click)="showFunctions = !showFunctions" class="relative">
      <app-bean-item>
        <mat-icon>functions</mat-icon> {{selectedDataOperation$.value}}
      </app-bean-item>
      <div *ngIf="showFunctions" class="flex flex-col absolute top-10  right-0 rounded-xl z-3" style="background-color: var(--button-icon-background)">
        <div *ngFor="let op of dataOperations" (click)="selectedDataOperation$.next(op)" class="w-fit p-1 cursor-pointer hover:scale-110 hover:underline">{{op}}</div>
      </div>
    </div>
    <div
      *ngFor="let chart of chartTypes"
      [title]="chart"
      class="mx-3 rounded-[30vw]"
      style="color:var(--button-icon-color); background: var(--button-icon-background);"
      (click)="selectedChart$.next(chart)"
      >
      <app-bean-item>
        <mat-icon>{{ chart }}</mat-icon>
      </app-bean-item>
    </div>
  </div>

  <table class="mb-3" *ngIf="selectedChart$.value === 'table_chart'">
    <thead>
      <th class="border-none"></th>
      <th
        *ngFor="let header of fields"
        class=" hover:text-white"
      >
        <button
          (click)="toggleSortIndividual($event, header)"
          class="cursor-pointer text-nowrap"
          title="click to sort"
        >
        <app-bean-item>
          {{ header }} 
        </app-bean-item>
        </button>
      </th>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of reducedItemsFlat; let i = index"
        style="color: var(--todo-item-text-color); background: var(--todo-item-description-body-color);"
      >
        <td
          (click)="onItemGoToClicked($event, i)"
          title="go to"
        >
          <app-bean-item>
            <mat-icon>navigate_next</mat-icon>
          </app-bean-item>
        </td>
        <td *ngFor="let val of item[1]" class="cell">
          {{ val }}
        </td>
      </tr>
    </tbody>
  </table>
  <div id="chartContainer" class="w-full h-10/12" *ngIf="selectedChart$.value !== 'table_chart'"></div>
<footer class="w-full h-10" ></footer>
</div>
