<div [formGroup]="form" class="flex flex-col items-center justify-center mt-4">
    <h1>Hello {{user.alias}}!</h1>
    <app-bean-item class="mt-10">
        <div>
            <mat-icon class="scale-200" >person_pin</mat-icon>
            <mat-icon class="absolute scale-70" style="top:-15px; right:-15px;">edit</mat-icon>
        </div>
        <input type="file" #profilePicEle accept="image/png, image/jpeg" class="hidden" (change)="saveProfilePic($event)">
        <img [src]="profilePicDataUrl" class="max-w-10 rounded-[40%]">
    </app-bean-item>
    <div class="flex flex-col p-10 gap-y-5">
        <div>
            <label>Alias</label><input type="text" formControlName="alias">
        </div>
        <div>
            <label>Update password</label><input type="password" formControlName="newPassword">
        </div>
    </div>
    <button class="bg-blue-600 p-3 rounded-xl"><app-bean-item>Update</app-bean-item></button>
</div>