<div class="h-full bg-gray-500 flex md:flex-col sm:flex-row items-center justify-center">
    <a tabindex="1" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" title="home">
    <app-bean-item>
            <mat-icon>home</mat-icon>
    </app-bean-item>
    </a>
    <a tabindex="1"routerLink="/create" routerLinkActive="active" ariaCurrentWhenActive="page" title="add new note">
    <app-bean-item>
            <mat-icon>create</mat-icon>
    </app-bean-item>
    </a>
    <a tabindex="1"routerLink="/calendar" routerLinkActive="active" ariaCurrentWhenActive="page" title="calendar">
        <app-bean-item>
                <mat-icon>date_range</mat-icon>
        </app-bean-item>
    </a>
    <a tabindex="1" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page" title="stats">
        <app-bean-item>
                <mat-icon>donut_small</mat-icon>
        </app-bean-item>
    </a>
    <a tabindex="1" routerLink="/bin" routerLinkActive="active" ariaCurrentWhenActive="page" title="recycle bin">
        <app-bean-item>
                <mat-icon>delete</mat-icon>
        </app-bean-item>
    </a>
    <a tabindex="1" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page" title="about">
        <app-bean-item>
                <mat-icon>help_outline</mat-icon>
        </app-bean-item>
     </a>
</div>