nav{
    background: var(--navbar-bg-color);
}

input[type="search"]{
    background: var(--navbar-searchbox-bg-color);
    color: var(--navbar-searchbox-text-color);
    font-size: calc(var(--global-font-size) * 1.3) !important;
}

.icon-link{
    background: var(--navbar-icon-bg-color);
    color: var(--navbar-icon-text-color);
    margin:0 5px 0 5px;
}
