<nav class="bg-gray-600 h-full flex flex-row items-center justify-between">
    <a href="./home">
        <span class="text-blue-50 text-3xl m-3">TODO</span>
    </a>
    <input type="search" class="w-7/12 h-10 p-2 rounded-2xl bg-white" (input)="searchItems($event)" placeholder="Search for your notes"/>
    <div class="m-3 hover:scale-110 transition-all">
        <div *ngIf="!loggedIn" title="offline! signin to sync to drive">
            <asl-google-signin-button theme='filled_black' shape='pill' type='standard' size='large'>
            </asl-google-signin-button>
        </div>
        <div *ngIf="loggedIn">
            <app-bean-item>
                <button type="button" class="drop-shadow-lg">
                    <div title={{user.name}} 
                        class="object-cover scale-180 flex justify-center rounded-full cursor-pointer max-w-5 max-h-5">
                        <img src={{user.photoUrl}} referrerpolicy="no-referrer">
                    </div>
                </button>
            </app-bean-item>
        </div>
    </div>
       
</nav>
