<div class="max-w-full text-white rounded-2xl" [title]="toolTipString">
    <div [class]="`${bgColour} flex flex-row rounded-2xl justify-between p-2`">
        <div class="flex-grow-1 text-2xl overflow-hidden overflow-ellipsis cursor-pointer" title="edit">
            <div class="border border-0 border-b-1 w-fit">{{item.subject}}</div> 
        </div>
        <div class="flex flex-shrink-0">
            <mat-icon (click)="optionsDisplayed=!optionsDisplayed" class="cursor-pointer hover:scale-120 option" title="options">
              more_horiz
            </mat-icon>
            <mat-icon *ngIf="!minimized && item.description" class="cursor-pointer hover:scale-120 option" title="minimize" (click)="minimized=true">
              unfold_less
            </mat-icon>
            <mat-icon *ngIf="minimized && item.description" class="cursor-pointer hover:scale-120 option" title="maximize" (click)="minimized=false">
              unfold_more
            </mat-icon>
        </div>
        <div *ngIf="optionsDisplayed" class="flex flex-row">
            <div *ngIf="!fromBin">
                <textarea type="text" *ngIf="showTags" placeholder="add tags here ',' seperated"
                class="border-b-2 border-b-blue-500 text-white text-center focus:outline-0 option" [value]="tagNameList" (input)="onUpdateTags($event)" rows="1"></textarea>
                <button type="button" class="cursor-pointer m-0.5 hover:scale-120" title="tags" (click)="onClickTags()" >
                    <mat-icon class="option">add_box</mat-icon>
                </button>
                <button type="button" class="cursor-pointer m-0.5 hover:scale-120" (click)="onClickSetReminder()" [title]="!item.setForReminder?'set reminder':'clear reminder'">
                    <mat-icon class="option">{{!item.setForReminder?'alarm_add':'alarm_off'}}</mat-icon>
                </button>
                <button class="cursor-pointer m-0.5 hover:scale-120" (click)="onClickCompletionStatus()" [title]="!item.completionStatus?'mark done':'mark pending'">
                <mat-icon class="option">{{!item.completionStatus?'done_all':'timelapse'}}</mat-icon>
                </button>
                <button class="cursor-pointer m-0.5 hover:scale-120" (click)="onClickDuplicate()" title="duplicate this item">
                <mat-icon class="option">file_copy</mat-icon>
                </button>
            </div>
            <button type="button" class="cursor-pointer m-0.5 hover:scale-120" title="move to recycle bin" (click)="onClickDelete()">
                <mat-icon class="option">delete</mat-icon>
            </button>
        </div>
    </div>
    <div [ngClass]="minimized?'max-h-0 opacity-0 max-w-0 ':'max-h-[500px] max-w-29/30 opacity-100 overflow-auto'"
      class="px-2 transition-all duration-1000 ease-in-out"
      [innerHtml]="parsedMD">
    </div>
</div>
