<div class="max-w-full overflow-clip overflow-ellipsis text-white rounded-2xl animate-flip" [title]="toolTipString">
    <div [class]="`${bgColour} flex flex-row rounded-2xl justify-between p-2`">
        <div class="flex-grow-1 text-2xl overflow-hidden overflow-ellipsis cursor-pointer animate-flip" title="edit">
            <div class="border border-0 border-b-1 w-fit">{{item.subject}}</div> 
        </div>
        <div class="flex flex-shrink-0">
            <mat-icon (click)="optionsDisplayed=!optionsDisplayed" class="cursor-pointer hover:scale-120 option" title="options">
              more_horiz
            </mat-icon>
            <mat-icon *ngIf="!minimized && item.description" class="cursor-pointer hover:scale-120 option" title="minimize" (click)="minimized=true">
              unfold_less
            </mat-icon>
            <mat-icon *ngIf="minimized && item.description" class="cursor-pointer hover:scale-120 option" title="maximize" (click)="minimized=false">
              unfold_more
            </mat-icon>
        </div>
        <div *ngIf="optionsDisplayed" class="flex flex-row">
            <div *ngIf="!fromBin">
                <app-tag-list *ngIf="showTags" [tags]="item.tags" [editable]="true" (onChange)="onUpdateTags($event)" class="option"></app-tag-list>
                <button type="button" class="cursor-pointer m-0.5 hover:scale-120" title="tags" (click)="showTags = !showTags" >
                    <mat-icon class="option">local_offer</mat-icon>
                </button>
                <button type="button" class="cursor-pointer m-0.5 hover:scale-120" (click)="onClickSetReminder()" [title]="!item.setForReminder?'set reminder':'clear reminder'">
                    <mat-icon class="option">{{!item.setForReminder?'alarm_add':'alarm_off'}}</mat-icon>
                </button>
                <button class="cursor-pointer m-0.5 hover:scale-120" (click)="onClickCompletionStatus()" [title]="!item.completionStatus?'mark done':'mark pending'">
                <mat-icon class="option">{{!item.completionStatus?'done_all':'timelapse'}}</mat-icon>
                </button>
                <button class="cursor-pointer m-0.5 hover:scale-120" (click)="onClickDuplicate()" title="duplicate this item">
                <mat-icon class="option">file_copy</mat-icon>
                </button>
            </div>
            <button type="button" class="cursor-pointer m-0.5 hover:scale-120" title="move to recycle bin" (click)="onClickDelete()">
                <mat-icon class="option">delete</mat-icon>
            </button>
        </div>
    </div>
    <div [ngClass]="minimized?'hidden':'max-h-[500px] max-w-29/30 overflow-auto m-auto pt-2'"
      class="transition-all duration-1000 ease-in-out"
      [innerHtml]="parsedMD" class="match-braces rainbow-braces">
    </div>
</div>
