<div class="flex flex-row items-center flex-wrap option" style="color:var(--todo-item-text-color)">
    <div *ngFor="let item of tagsList; let i = index" style="background: var(--todo-item-body-color);" class="hover:outline-1 m-0.5 pl-1 pr-1 rounded-md flex items-center option" >
        <div class="w-fit option field-sizing-content" *ngIf="editing != i"(click)="editable && (editing = i)">
            {{item.name}}
        </div>
        <div *ngIf="i == editing" class="flex flex-row items-center">
            <div class="w-fit option field-sizing-content outline-0 border-b-2 wrap-break-word" #tagInput contenteditable="true"  [innerText]="item.name"></div>
            <mat-icon  class="hover:scale-110 cursor-pointer option" title="save changes" (click)="updateState(item, tagInput)">done</mat-icon>
        </div>
    </div>
    <mat-icon class="hover:scale-110 cursor-pointer transition-all option" *ngIf="editable" (click)="addItem()">add_circle_outline</mat-icon>
</div>