<div class="h-full scroll-auto overflow-scroll justify-center">
    <div class="w-full flex flex-col justify-center">
        <div class="mb-8">
            <span *ngIf="fromBin" class="block text-center text-3xl font-semibold text-amber-600 m-4">
                Local Recycle Bin
                <a routerLink="/bin/clear" routerLinkActive="active" ariaCurrentWhenActive="page" title="Clear the recycle bin" class="ml-4 text-2xl text-gray-500 hover:text-amber-800 transition-colors duration-200">Clear</a>
            </span>
            <span *ngIf="itemList.length === 0" class="block text-center font-semibold text-emerald-600">
                <div class="mb-4 text-4xl">No Items Yet!</div>
                <div>Checkout the <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page" title="about">about</a> section for more info</div>
            </span>
        </div>
    </div>
    <div class="h-fit w-full flex flex-row flex-wrap">
        <div *ngFor="let todoItem of itemList" class="flex-auto mx-2 my-0.5 drop-shadow-sm w-fit max-w-full">
            <app-todo-item [item]="todoItem"/>
        </div>
    </div>
</div>    
