/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

/* manual styling as tailwind overrides*/
h1, h2, h3, h4, h5, h6 {
    @apply text-2xl font-bold;
  }

  p {
    @apply text-base;
  }

  a {
    @apply text-blue-500 underline;
  }

  blockquote {
    @apply border-l-4 border-gray-300 pl-4 italic;
  }

  ul, ol {
    @apply list-disc pl-5;
  }

  li {
    @apply mb-0.5;
  }

  code {
    @apply bg-gray-700 text-green-600 px-2 py-1 rounded;
  }

  pre {
    @apply bg-gray-500 text-white p-4 rounded overflow-auto;
  }

  img {
    @apply max-w-full h-auto shadow-sm;
  }

  table {
    @apply w-full text-left border-collapse;
  }

  th, td {
    @apply border border-gray-300 px-4 py-2;
  }

  hr {
    @apply border-t-2 border-gray-300 my-4;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* styles for FullCalendar buttons */
 .fc-button {
  background-color: rgba(102, 86, 86, 0.9) !important;
  color: white !important;
  border: 1px solid #ffffff !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  margin: 2px !important;
  @apply hover:scale-105 hover:shadow-2xs shadow-white transition-all
}
.fc-button-group{
  @media (width <= 40rem) {
    display: flex !important;
    flex-direction: column !important;
  }
}
.fc-event:hover {
  box-shadow: 0px 0px 5px 3px rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 5px 3px rgba(18,18,18,0.20);
  -moz-box-shadow: 0px 0px 5px 3px rgba(18,18,18,0.20);
  @apply scale-105 transition-all;
}
